.App {
  position: relative;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}
.paral{
  background-image: url("https://images.unsplash.com/photo-1611502867268-9193c5c45f09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80") ;
  background-repeat: no-repeat !important;
  background-position-x: 100% !important;
  background-position-y: 100% !important;
  background-size: cover;
}

.App-background{
  width: 108%;
  height: 108%;
  z-index: -999; 
  position: absolute;
  overflow: hidden;
  left: -20px;
  top: -20px;
  right: -20px;
  bottom: -20px;
}
.innerBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 150px;
  padding-block: 165px;
}
.leftBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftBlock-up{
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 100px;
  color: #FFFFFF;
  width: 640px;
  margin-bottom: 200px;
  letter-spacing: 0.05em;
}
.leftBlock-down{
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 49px;
  color: #FFFFFF;
}
.rightBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightBlock-down{
  display: flex;
  flex-direction: column;
}
.rightBlock-up{
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}
.rightBlock-down{
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  /* letter-spacing: 0.06em; */
}
@media(max-width: 900px) {
  .App {
    position: relative;
   width: 100vw;
   height: 100vh;
   overflow: visible;
  }
  .App-background{
    width: 108%;
    height: 108%;
    z-index: -999; 
    position: absolute;
    overflow: visible;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
  }
}