@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat' sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
div, p {
  font-family: 'Montserrat' sans-serif ;
}
code {
  font-family: 'Montserrat' sans-serif ;
}
@media(max-width: 900px) {
  body {
   margin: 0;
   font-family: 'Montserrat' sans-serif ;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
   overflow-y: visible;
  }
}